.root:global(.__wab_instance) {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  max-width: 100%;
  object-fit: cover;
  position: relative;
  grid-column-start: 1 !important;
  grid-column-end: -1 !important;
  padding: 16px;
  border: 1px solid #01010154;
}
.link__fP1Oe {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  color: var(--token-m-zIcYD3NVN3);
  font-size: 24px;
  font-weight: 700;
  padding-right: 0px;
  margin-right: 0px;
}
.root .link__fP1Oe:hover {
  color: var(--token-U2E__R-MFSKg);
}
.img__nzu77 {
  object-fit: cover;
}
.img__nzu77 > picture > img {
  object-fit: cover;
}
.img__s0TJr {
  object-fit: cover;
}
.img__s0TJr > picture > img {
  object-fit: cover;
}
.link___6DdNa {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link___6DdNa:hover {
  color: var(--token-U2E__R-MFSKg);
}
.link__ze4H {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__ze4H:hover {
  color: var(--token-U2E__R-MFSKg);
}
.link__jweSk {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__jweSk:hover {
  color: var(--token-U2E__R-MFSKg);
}
.link__ehRti {
  color: #1d1d21;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  padding: 0px 18px;
}
.root .link__ehRti:hover {
  color: var(--token-U2E__R-MFSKg);
}
